<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon and Dragons</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css} " />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <h1 class="text-uppercase text-center py-5">dungeons and dragons</h1>
        <h2 class="text-capitalize text-center py-2">choose your class</h2>
        <div class="row">
            <div th:each="category : ${allCategories}"
                class="col-xl-4 col-lg-6 col-sm-12 d-flex justify-content-center pb-3">
                <div class="card">
                    <img th:title="..." th:src="'/classes/'+ ${category.getCtgName()}+'B.png'"
                        class="card-img-top img-fluid" th:alt="...">

                    <div class="card-body d-flex flex-column">
                        <div>
                            <h5 th:text="${category.getCtgName()}" class="card-title d-inline fw-bold"></h5>
                            <p th:text="'Hit Points: ' + ${category.getCtgHitPoints()}"
                                class="text-danger d-inline fw-bold float-end"></p>
                        </div>
                        <div>
                            <h5 class="d-inline">Proficiencies</h5>
                            <p class="d-inline float-end text-muted"
                                th:text="'Choose: ' +${category.getCtgProfChoices()}"></p>
                        </div>
                        <div class="text-muted">|
                            <p th:each="profs: ${category.getCtgProf()}" th:text="${profs} + ' | '" th:title="..."
                                class="d-inline categorys__languages"></p>
                        </div>
                        <h6 class="card-subtitle text-muted fw-bold pt-3">Equipment Skills</h6>
                        <div class="pb-3 text-success">|
                            <p th:each="equipment: ${category.getCtgEquipment()}" th:text="${equipment} + ' | '"
                                class="card-text d-inline"></p>
                        </div>
                        <h6 class="card-subtitle text-muted fw-bold">Subclass</h6>
                        <p th:text="${category.getCtgSubclass()}" class="card-text text-warning fw-bold"></p>

                        <div class="mt-auto pt-3">
                            <form action="#" th:action="@{/classes}" th:object="${myChar}" method="post">
                                <div class="mt-auto">
                                    <select class="d-none" th:field="*{charClass}">
                                        <option th:value="${category.getCtgName()}" />
                                    </select>
                                    <button type="submit" th:text="'Choose ' + ${category.getCtgName()}"
                                        class="btn btn-primary d-inline"></button>
                                </div>
                            </form>
                            <img th:title="..." th:src="'/classes/'+ ${category.getCtgName()}+'Icon.jpeg'"
                                class="d-inline float-end category__icon" th:alt="...">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js}"></script>
</body>

</html>